<header>
  <h1 id="title">Error de algun tipo</h1>
  <p id="description">
    Algo salio mal, por favor intenta de nuevo.
  </p>
</header>
<main>
  <div>
    <a href="/"><button id="homeButton">Volver al home</button></a>
  </div>
</main>