<header>
  <h1 id="title">Formulario completado con exito</h1>
  <p id="description">
    Gracias por tomarte el tiempo de completar el formulario. Tu respuesta ha
    sido enviada con exito.
  </p>
</header>
<main>
  <div>
    <a href="/survey"><button id="otherSurveyButton">Enviar otra respuesta</button></a>
    <a href="/"><button id="homeButton">Volver al home</button></a>
  </div>
</main>